@model IEnumerable<AnotherCity.Models.Project>
@inject AnotherCity.Services.FormattingService Format

<div class="col-md-4">
    <div class="row">
        @foreach (var item in Model.Where(d => ((d.StartDate.Value.Month - DateTime.Now.Month) + 12 * (d.StartDate.Value.Year - DateTime.Now.Year)) > 0))
        {
            <div class="blog-slider-right col-md-12 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="600ms">

                <div class="blog-slider-grid">
                    <figure>
                        <a asp-controller="Projects" asp-action="ViewProject" asp-route-id="@item.Id"><img src="~/uploads/@item.MainImg" alt="" /></a>
                        <figcaption>
                            <h3><a asp-controller="Projects" asp-action="ViewProject" asp-route-id="@item.Id">@item.Title</a></h3>
                            <span>Will be on @Format.AsReadableDate(item.StartDate)</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
        }
    </div>
</div>