@model IEnumerable<AnotherCity.Models.Project>

@{
    ViewData["Title"] = " Головна";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg-gray no-padding below-header">
    <div class="container">
        <div class="row">
            
            @if (Model.Where(d => d.Featured==true).Count() != 0)
            {
                <h3 class="hidden-lg hidden-md hidden-sm title-med text-center">Мега круті проекти</h3>
                @await Html.PartialAsync("_SliderItems", Model.Where(d =>d.Featured==true).OrderBy(s => s.FinishDate))
            }
            @if (Model.Where(d => ((d.StartDate.Value.Month - DateTime.Now.Month) + 12 * (d.StartDate.Value.Year - DateTime.Now.Year)) > -30 && d.Featured==false).Count() != 0)
            {
                <h3 class="hidden-lg hidden-md hidden-sm title-med  text-center">Поточні проекти</h3>
                @await Html.PartialAsync("_RightItems", Model.Where(d => ((d.StartDate.Value.Month - DateTime.Now.Month) + 12 * (d.StartDate.Value.Year - DateTime.Now.Year)) > -30 && d.Featured == false).OrderBy(s => s.StartDate))
            }
        </div>
    </div>
</section>
@if (Model.Where(d => ((d.StartDate.Value.Month - DateTime.Now.Month) + 12 * (d.StartDate.Value.Year - DateTime.Now.Year)) <= -30 && d.Featured == false).Count() != 0)
{
    <section id="blog" class="bg-gray no-padding-top">
        <div class="container">
            <h3 class="hidden-lg hidden-md hidden-sm title-med text-center">Минулі проекти</h3>
            @await Html.PartialAsync("_BottomItems", Model.Where(d => ((d.StartDate.Value.Month - DateTime.Now.Month) + 12 * (d.StartDate.Value.Year - DateTime.Now.Year)) <= -30 && d.Featured == false).OrderByDescending(s => s.StartDate))
        </div>
    </section>
}