@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- portfolio section -->
<section id="portfolio" class="grid-wrap work-4col margin-top-section no-margin-top border-top revolution-masonry-portfolio-list">
    <div class="container-fluid">
        <div class="row no-padding">
            <div class="grid-gallery overflow-hidden">
                <div class="tab-content no-margin-top">
                    <ul class="masonry-items portfolio-items col-4 grid">
                        <!-- portfolio item -->
                        <li class="portfolio-item" data-top-bottom="transform: translateY(-75px);" data-bottom-top="transform: translateY(150px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img class=" left " src="http://placehold.it/800x600" alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Herbal Beauty Salon</a></h3>
                                    <p>Branding &amp; Identity</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                        <!-- portfolio item -->
                        <li class="portfolio-item" data-top-bottom="transform: translateY(-5px);" data-bottom-top="transform: translateY(50px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img src="http://placehold.it/800x1200" class=" left " alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Tailoring Interior </a></h3>
                                    <p>Branding &amp; Identity</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                        <!-- portfolio item -->
                        <li class="portfolio-item" data-top-bottom="transform: translateY(-75px);" data-bottom-top="transform: translateY(300px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img src="http://placehold.it/800x600" class=" left " alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Pixflow Studio</a></h3>
                                    <p>Web &amp; Branding</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                        <!-- portfolio item -->
                        <li class="portfolio-item" data-top-bottom="transform: translateY(-200px);" data-bottom-top="transform: translateY(150px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img src="http://placehold.it/800x1200" class=" left " alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Kaya Skin Care</a></h3>
                                    <p>UI Design &amp; Identity</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                        <!-- portfolio item -->
                        <li class="portfolio-item" data-top-bottom="transform: translateY(-150px);" data-bottom-top="transform: translateY(300px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img src="http://placehold.it/800x1200" class=" left " alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Third Eye Glasses</a></h3>
                                    <p>Logo &amp; Brochure</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                        <!-- portfolio item -->
                        <li class="portfolio-item no-hover" style="z-index: -999;" data-top-bottom="transform: translatex(-50px);" data-bottom-top="transform: translatex(75px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img src="/images/portfolio-img64.jpg" class=" left " alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Third Eye Glasses</a></h3>
                                    <p>Logo &amp; Brochure</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                        <!-- portfolio item -->
                        <li class="portfolio-item no-hover" style="z-index: -999;" data-top-bottom="transform: translatex(-5px);" data-bottom-top="transform: translatex(200px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img src="/images/portfolio-img66.jpg" class=" left " alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Bass Music</a></h3>
                                    <p>Photography &amp; Web</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                        <!-- portfolio item -->
                        <li class="portfolio-item" data-top-bottom="transform: translateY(-100px);" data-bottom-top="transform: translateY(350px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img src="http://placehold.it/800x600" class=" left " alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Leather Craft</a></h3>
                                    <p>Web &amp; Identity</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                        <!-- portfolio item -->
                        <li class="portfolio-item" data-top-bottom="transform: translateY(-100px);" data-bottom-top="transform: translateY(10px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img src="http://placehold.it/800x600" class=" left " alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Bass Music</a></h3>
                                    <p>Photography &amp; Web</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                        <!-- portfolio item -->
                        <li class="portfolio-item" data-top-bottom="transform: translateY(-50px);" data-bottom-top="transform: translateY(100px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img src="http://placehold.it/800x600" class=" left " alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">MindMap Education</a></h3>
                                    <p>Branding &amp; Identity</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                        <!-- portfolio item -->
                        <li class="portfolio-item no-hover" style="z-index: -999;" data-top-bottom="transform: translateX(-50px);" data-bottom-top="transform: translateX(100px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img src="/images/portfolio-img65.jpg" class=" left " alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Leather Craft</a></h3>
                                    <p>Web &amp; Identity</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                        <!-- portfolio item -->
                        <li class="portfolio-item" data-top-bottom="transform: translateY(-500px);" data-bottom-top="transform: translateY(200px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img src="http://placehold.it/800x600" class=" left " alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">Rubber Studio</a></h3>
                                    <p>Branding &amp; Identity</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                        <!-- portfolio item -->
                        <li class="portfolio-item" data-top-bottom="transform: translateY(-100px);" data-bottom-top="transform: translateY(200px);">
                            <figure>
                                <div class="gallery-img"><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top"><img src="http://placehold.it/800x500" class=" left " alt=""></a></div>
                                <figcaption>
                                    <h3><a href="/onepage-single-project-page1.html" class="simple-ajax-popup-align-top">MindMap Education</a></h3>
                                    <p>Branding &amp; Identity</p>
                                </figcaption>
                            </figure>
                        </li>
                        <!-- end portfolio item -->
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end portfolio section -->