@{
    ViewData["Title"] = "About Admin";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
