@model AnotherCity.Models.Volunteer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- key person section -->
<section id="key-person" class="wow fadeIn no-padding below-header  bg-gray">
    <div class="container">
        <div class="row  padding-three">
            <h2 class="text-center">Apply now</h2>

            <form class="col-md-8 center-col" asp-action="Create">
                <div class="form-horizontal">
                    <h4 class="text-center">To become a volunteer</h4>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Phone" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="SocialLink" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="SocialLink" class="form-control" />
                            <span asp-validation-for="SocialLink" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Bio" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <textarea asp-for="Bio" class="form-control"></textarea>
                            @*<input asp-for="Bio" class="form-control" />*@
                            <span asp-validation-for="Bio" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 text-center">
                            <input type="submit" value="Apply" class="btn btn-black no-margin-bottom btn-medium" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
