@model IEnumerable<AnotherCity.Models.Project>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- head section -->
<section class="content-top-margin page-title border-bottom-light border-top-light ">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-12 center-col wow slideInUp wow fadeInUp" data-wow-duration="300ms">
                <!-- page title -->
                <h1 class="black-text text-center">@ViewData["Title"]</h1>
                <!-- end page title -->
                <!-- page title tagline -->
                <span class="xs-display-none">Explore the variety of our projects!</span>
                <!-- end title tagline -->
                <div class="separator-line margin-three bg-black no-margin-lr sm-margin-top-three sm-margin-bottom-three no-margin-bottom xs-display-none"></div>
            </div>
        </div>
    </div>
</section>
<!-- end head section -->

<section id="blog" class="bg-gray no-padding ">
    <div class="container">
        @if (Model.Count() > 0)
        {
            @await Html.PartialAsync("_BottomItems", Model)
        }
        else
        {
            <h4 class="text-center">No appropriate projects! :(</h4>
        }
    </div>
</section>

